.homepage {
  width: 100%;
  height: auto;
}

/*STATISTICS*/

.homepage .static-frame {
  width: 100%;
  height: 400px;
  background-color: white;
}

.homepage .static-frame .info {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homepage .static-frame .info .static-box {
  width: 200px;
  height: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage .static-frame .info .static-box .static-num {
  width: 242px;
  gap: 0px;
  font-family: "Gilroy-Bold";
  font-size: 42px;
  font-weight: 900;
  line-height: 49.22px;
  text-align: left;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
  color: #1e1e1e;
}

.homepage .static-frame .info .static-box .static-head {
  margin-bottom: 10px;
  gap: 0px;
  opacity: 0.9px;
  font-family: "Gilroy-Bold";
  font-size: 20px;
  font-weight: 900;
  line-height: 50px;
  text-align: left;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
  color: #1e1e1e;
}

.homepage .static-frame .info .static-box .static-text {
  width: 284px;
  height: 90px;
  top: 1254px;
  left: 452px;
  gap: 0px;
  opacity: 0.8px;
  font-family: "Gilroy-Regular";
  opacity: 80%;
  font-size: 16px;
  line-height: 29.6px;
  text-align: left;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
  color: #1e1e1e;
}

.homepage .static-frame .info .static-box .static-link {
  margin-top: 5px;
  margin-right: 110px;
  font-size: 14px;
  line-height: 25.9px;
  text-align: left;
  font-family: "Poppins";
  color: #e58411;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/** POPULAR DISHES  BEST SELLING **/

.homepage .popular-dishes-frame {
  width: 100%;
  height: 580px;
  display: flex;
  background: #f8f8ff;
}

.homepage .popular-dishes-frame .popular-section {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .popular-dishes-frame .popular-section .category-title {
  text-align: center;
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
  color: #000;
}

.homepage .popular-dishes-frame .popular-section .cards-frame {
  width: 100%;
  margin-top: 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .popular-dishes-frame .popular-section .cards-frame {
  width: 100%;
  margin-top: 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .popular-dishes-frame .cards-frame .card {
  min-height: 430px;
  min-width: 300px;
  cursor: pointer;
}

.homepage .popular-dishes-frame .cards-frame .card .card-cover {
  background: linear-gradient(
      to top,
      rgba (0, 0, 0, 0.4),
      rgba (0, 0, 0, 0) 200px
    ),
    linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 300px);
}

.homepage .popular-dishes-frame .cards-frame .card p {
  font-size: large;
  font-weight: 700;
  color: #0f0d0b;
}

.homepage .popular-dishes-frame .cards-frame .card p:hover {
  color: #e58411;
}

.homepage .popular-dishes-frame .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #e3c08d;
}

/** NEW PRODUCTS TRENDING PRODUCTS **/

.homepage .new-products-frame {
  width: 100%;
  height: 605px;
  background: #f8f8ff;
  display: flex;
}

.homepage .main {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .new-products-frame .category-title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
}

.homepage .new-products-frame .main .cards-frame {
  width: 100%;
  margin: 47px 2px 2px 2px;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .new-products-frame .main .card {
  height: 335px;
  width: 290px;
  cursor: pointer;
}

.homepage .new-products-frame .product-sale {
  position: absolute;
  margin-top: 10px;
  z-index: 100;
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff9200;
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  color: #f8f8ff;
}

.homepage .new-products-frame .product-detail {
  width: auto;
  height: 49%;
  display: flex;
  justify-content: center;
  margin-top: -12px;
  border-top: 1px solid;
  border-color: #f8f8ff;
  background-color: #fafbfb;
}

.homepage .new-products-frame .product-detail .info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homepage .new-products-frame .product-detail .title {
  width: 65px;
  font-weight: 500;
}

.homepage .new-products-frame .product-detail .price {
  margin-left: 10px;
  width: 20px;
  font-weight: 500;
}

.homepage .new-products-frame .product-detail .divider {
  margin: 0 10px 0 10px;
  width: 2px;
  background: #d9d9d9;
}

.homepage .new-products-frame .product-detail .views {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.homepage .new-products-frame .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #e3c08d;
}

/** ADVERTISEMENT Material  **/

.homepage .ads-restaurant-frame {
  margin-top: 20px;
  width: 100%;
  height: 550px;
  display: flex;
  overflow: hidden;
  transform: perspective(0px);
  display: flex;
  flex-direction: row;
}

.homepage .ads-restaurant-frame .frame {
  margin-top: 40px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .ads-restaurant-frame .frame .image {
  width: 630px;
  height: 445px;
}

.homepage .ads-restaurant-frame .frame .info {
  width: 556px;
  height: 132px;
  top: 2899px;
  left: 743px;
  gap: 0px;
  opacity: 0.8px;
}

.homepage .ads-restaurant-frame .frame .info h3 {
  margin-bottom: -20px;
  font-weight: 400;
  color: #ff9200;
}
.homepage .ads-restaurant-frame .frame .info h2 {
  font-family: "Gilroy-Bold";
  font-size: 42px;
  line-height: 49.22px;
  text-align: left;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
}

.homepage .ads-restaurant-frame .frame .info p {
  opacity: 0.8px;
  font-family: "Gilroy-Regular";
  opacity: 80%;
  font-size: 18px;
  line-height: 29.6px;
  text-align: left;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
  color: #1e1e1e;
}

.homepage .ads-restaurant-frame .frame .info a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #e58411;
}

/** ACTIVE USERS **/

.homepage .story-frame {
  margin-top: 200px;
  width: 100%;
  height: auto;
  background: #f8f8ff;
}

.homepage .story-frame .story-container {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
}
.homepage .story-frame .story-left {
  width: 50%;
  height: 300px;
}
.homepage .story-frame .story-left h3 {
  font-weight: 600;
  color: #ff9200;
}

.homepage .story-frame .story-left h2 {
  margin-top: -8px;
  width: 413px;
  height: 156px;
  top: 3597px;
  left: 80px;
  gap: 0px;
  opacity: 0px;

  font-family: "Gilroy-Bold";
  font-size: 42px;
  line-height: 49.22px;
  text-align: left;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
}

.homepage .story-frame .story-left span {
  width: 520px;
  height: 99px;
  opacity: 0.8px;
  font-family: "Gilroy-Regular";
  opacity: 80%;
  font-size: 20px;
  line-height: 29.6px;
  text-align: left;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
  color: #1e1e1e;
}

.homepage .story-frame .story-left a {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #e58411;
}

.homepage .story-frame .story-right {
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: row;
}

.homepage .story-frame .story-right .img1 {
  display: flex;
  flex-direction: column;
  width: 223px;
  height: 338.42px;
  top: 3707px;
  left: 730px;
  gap: 0px;
  opacity: 0px;
}
.homepage .story-frame .story-right .img1 .image1 {
  margin-bottom: 40px;
}

.homepage .story-frame .story-right .img2 {
  margin-top: 130px;
  margin-left: 85px;
  width: 629px;
  height: 445px;
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
}

/** EVENTS Active users **/

.homepage .active-users-frame {
  width: 100%;
  height: 550px;
  display: flex;
  background: #f7f7f7;
}

.homepage .active-users-frame .main {
  margin-top: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.homepage .active-users-frame .category-title {
  font-family: "Dancing Script";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
}

.homepage .cards-frame {
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
}

.homepage .cards-frame .card {
  cursor: pointer;
  margin: 5px;
  min-height: 305px;
  min-width: 305px;
}

.homepage .cards-frame .info {
  font-size: medium;
  text-align: center;
  width: auto;
  height: 49%;
  display: flex;
  border-color: #f8f8ff;
  background-color: #fafbfb;
}
.homepage .cards-frame .member-nickname {
  text-align: center;
  font-weight: medium;
}

.homepage .cards-frame .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #e3c08d;
}
